
{% extends "base/themes/agency/startboot_agency_base.html" %}
{% load i18n static %}
{% load of_tag %}


{% block header %}
{% endblock header %}

{% block extra_js %}
    <script>
        var vm = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: { 
                message : "OK on est sous vue.js",
                documents : [],
                url : "",
                filterKey : "",
                sortedKey : "name",
                sortBy : "nom",
                currentSort : "nom",
                order : -1 ,
            },
            //----
            created(){
                // `this` est une référence à l'instance de vm
                console.log('this is message: ' + this.message)
                this.load_docs()
            },
            //---
            computed: {
                // sinon 
                sortedDocuments(){
                    return this.documents.filter(doc => doc.piece_name.includes(this.filterKey)).sort((a, b) =>  {
                        if(a[this.currentSort] < b[this.currentSort]) return -1 * this.order
                        if(a[this.currentSort] > b[this.currentSort]) return 1 * this.order
                        return 0
                    })
                }
            },
            methods: {
                load_docs(){
                    let url = `/cart/api/product/`
                    // ajax load
                    fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        this.documents = json;
                        console.log(" data ok = " + this.documents[0].name )
                        })  
                    .catch(err => {
                        console.log("erreur fetch load_docs", err)
                        })
                    //console.log("vous chercher ...!" + this.filterKey)
                },
                //-------
                addToCart(product_id){
                    console.log("add to cart  product_id = " + product_id);

                    let url = '/api/add_to_cart/'
                    let data = {
                    'product_id' : '{{product.id}}', 
                    'quantity': 1,
                    'title': `{{ product.name}}`,
                    },
            
                fetch(url, {
                        method : 'POST', 
                        headers :{
                        'Content-Type': "application/json",
                        'X-CSRFToken' : csrftoken,
                    },
                    credentials: 'same-origin',
                    body : JSON.stringify(data),
                    })      
                    .then(response => {
                        result = response.json()
                        return result
                    })
                    .then(result =>{
                        console.log("added to cart " + result)  
                    }).catch(function(error){
                        console.log(error)
                    })
            }, // fin add to cart
        },

            }
        });
        // mount
        vm.$mount('.app')
    </script>
{% endblock extra_js%}

{% block content %}
<div class="container" id="app">
    <h3> Store </h3>
   <table class="table table-stripted">
      <thead>
       <th>Name </th> <th> Description</th>  <th>Prix</th>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>  <a class="text-truncate" href="{% url 'product_detail' product.id %}"> {{ product.name |slice:":50" }}</a></td>
          <td> {{product.description |slice:"0:30" }}</td> 
          <td> {{product.unit_price}} €</td>
          <td> <a class="btn btn-warning btn-block" href="{% url 'product_detail' product.id %}">Ajouter</a></td>
        </tr>
        {% endfor %}
      </tbody>
     
   </table>
</div>


{% block extra_javascipt %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    var prodcuapp = new Vue({
        el : "#app",
        delimeters : [ '[[', ']]' ],
        data(){
            return{
                message : "Welcome V ecommerce",
            }
          },
        // mount
        mounted(){
            console.log("Vue mounted !")
        },

        methods:{
          addToCart(product_id){
            console.log("add to cart  product_id = " + product_id);

            let url = '/api/add_to_cart/'
            let data = {
                'product_id' : '{{product.id}}', 
                'quantity': 1,
                'title': `{{ product.name}}`,
                }

            
            fetch(url, {
              method : 'POST', 
              headers :{
                'Content-Type': "application/json",
                'X-CSRFToken' : csrftoken,
              },
              credentials: 'same-origin',
              body : JSON.stringify(data),
            })      
            .then(response => {
              result = response.json()
              return result
            })
            .then(result =>{
              console.log("added to cart " + result)  
            }).catch(function(error){
              console.log(error)
            })
          }, // fin add to cart
        },

        // remove item
      
    }) 

</script>

  {% endblock %}