{% extends 'base_da.html' %}
{% load i18n staticfiles static %}

	{% block left_side %}
		<h4>Gestion commandes approvisionnment</h4>
		<hr>
	  {% include 'da_left_menu.html' %}
		  <li class="list-group-item"> <h4> <a href="{% url 'console_liste_da'  %}">Gestion des DA </a></h4></li>
  {% endblock left_side %}

	{% block right_side %}
	{% endblock right_side %}

  {% block main_side %}

<div class="container-fluid">
	<div class="jumbotron">
	  <div class="card-heading row">
	        <div class="col-lg-10">
					<p> <h3>Demande approvisionnment de l'année 2019  </h3>  </p>
					</div>

					<div class="col-lg-2">
	          <span id="id_content_msg" class="text-warning">  </span>

	          <A href="/da/cart/listitem/" >
	            <img class="pull-left " src="{% static 'images/chariot.jpeg' %}" height="60" width="60" />
	          </A>
	        </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-6">
	    <div class="card with-nav-tabs panel-primary">
	        <div class="card-heading">
	                <ul class="nav nav-tabs">
	                  <!-- Action groupées -->
	                  <!-- Dropdown -->
	                  <li class="nav-item dropdown">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Action groupées </a>
	                    <ul class="dropdown-menu">
	                          <a class="dropdown-item" href="#"  target="_blank"> </a>
	                          <li class="nav-item disabled"><a id="id_desactiver_of" class="nav-link text-muted  disabled"  disabled href="#" data-toggle="tab">----</a></li>
	                    </ul>
	                  </li>
										<li class="nav-item"><a href="/da/console/listda/" title="vue de toute les Demandes approvisionnment" class="nav-link text-blod" >
											{% if toggle_shwo_all %}
												<span> Toute DA</span>
												{% else %}
												<span> Mes demandes Appro  </span>
											 {% endif %}
										</a></li>
	                </ul>
	        </div>
	    </div>
	  </div>
	</div>

	<!-- **** -->
	<div class="row" id="app">
		<div class="nav nav-tabs nav-tabs-horizontal text-white col-md-12">
	      <div class="bg-warning__" style="background-color:grey">
		      <A href="print_of?code_of=<dtml-var code_of>"  target="_blank" >
		      <A href="#" class="btn btn-primary btn-lg"  onclick="history.back();" ><em class="fa fa-close"></em>Annuler</A>
	      </div>
	  </div>
		<!-- use the modal component, pass in the prop -->
		<modal v-if="showModal" @close="showModal = false">
		 <!--
			 you can use custom content here to overwrite
			 default content
		 -->
		 <h3 slot="header">Confirmation</h3>
		</modal>

		<table class="table table-striped">
			  <thead class="thead thead-inverse">
			    <tr>
			      <th v-show="false"> <input type="checkbox"  class="btn btn-large" onclick="checkAll(event);" name='super' id="id_checkAll"/>Check all </th>
						<th><a @click="sort('pk')">Reference</a> </th>
						<th><a @click="sort('demande_appro_id')">Code demande appro</a> </th>
						<th><a @click="sort('created')">Date debut</a> </th>
						<th><a @click="sort('created_by')">Operateur </th>
			      <th><a @click="sort('entrepot')">Entrepot </th>
						<th><a @click="sort('zone_appro')">Zone Appro </th>
						<th><a @click="sort('semaine')">Semaine </th>
						<th><a @click="sort('annee')">Annee </th>
			      <th class="text-center" colspan=3><em class="fa fa-cogs fa-lg">Action</em></th>
			    </tr>
			  </thead>
		</table>

		<table  class="table table-striped">
			<tbody >
				<compof v-for="(article, index) in sortedCats"  :index="index" v-bind:elem="article"> </compof>
			</tbody>
		</table>
		<div class="row" >
		<button class='btn-warning btn-lg  ' @click="prevPage">Précedent</button>
		<button class='btn-warning btn-lg  ' @click="nextPage">Suivant</button>
		</div>

	</div>
<!-- PAGINATION -->


<!-- Message Modal -->
	 <div class='modal fade' id='ModalFormMessage' role='dialog'>
		 <div class='modal-dialog'>
			 <!-- Modal content-->
			 <div class='modal-content'>
				 <div class='modal-header'>
					 <button type='button' class='close' data-dismiss='modal'>&times;</button>
					 <h4 class='modal-title'>Utilisateur {{user}}</h4>
				 </div>
				 <div class='modal-body'>
					 <p id="id_content_cycle">
						 {% include 'da/form_add_message.html'%}
					 </p>

				 </div>
				 <div class='modal-footer'>
					 <button type='button' class='btn btn-default' data-dismiss='modal'>Quitter</button>
				 </div>


			 </div>
		 </div>
	 </div>

<template class="container" id="cac_template">
	<table class="table table-striped" >
				<tr class="text-center" :key=elem.id  v-show="!active" >
					<td> <input type="checkbox" v-bind:checked="checked" v-on:change="$emit('checker', $event.target.checked)" class="form-check-input" />
					</td>
					<td> [[ elem.pk ]] </td>
					<td> [[ elem.demande_appro_id ]] </td>
					<td> [[ elem.created | formatDate ]] </td>
					<td> [[ elem.created_by ]] </td>
					<td> [[ elem.entrepot  ]] </td>
					<td> [[ elem.zone_appro]] </td>
					<td> [[ elem.semaine  ]] </td>
					<td> [[ elem.annee  ]]  </td>
					<td>
						 <button  v-show="false"  title="Ajouter un commentaire" id='bt_12345' type='button'  class="btn btn-lg btn-warning" data-toggle='modal'
							data-target='#ModalFormMessage'> <span class='fa fa-plus'></span>[[elem.pk]]</button>
					</td>

					<td v-show="false"> <A @click="form_active=!form_active" title="Ajouter un commentaire" class="btn btn-lg btn-info" >
						<em class="fa fa-plus"> </em></A>

						<form id="formComment"  action="#" @submit.prevent="checkComment(elem.pk), form_active=!form_active"   v-show="!form_active">
							{% csrf_token %}
							<!-- <input type="hidden"  id="cle_csrf" v-model="csrf_token"  />     -->
							<textarea name="comment" v-model="comment" placeholder="saisir ici un commentaire" rows="8" cols="80"> </textarea>
							<input class="btn btn-success" type="submit"   value="sauvegarder" />
						</form>

					</td>
					<td> <A  :href="url_update_da" title="Modifier l'entete de la demande appro ..." class="btn btn-lg btn-warning" target="_blank" /><em class="fa fa-plus"></em></A> </td>
					<td> <A  :href="url_show"  data-toggle="tooltip"  title=" Voir Détails" class="btn btn-lg btn-warning" ><em class="fa fa-eye"></em></A> </td>
					<td> <A  :href="url_print" data-toggle="tooltip"  title="imprimer" class="btn btn-lg btn-warning"  target="_blank"><em class="fa fa-print"></em></A> </td>
					<td> <A  :href="url_export" data-toggle="tooltip"  title="Exporter en fichier excel"  class="btn btn-lg btn-warning" target="_blank"><em class="fa fa-file"></em></A> </td>
					<td> <A  :href="url_delete_da" data-toggle="tooltip" @click.prevent="emit_open_modal_confirm()" title="Suppression Demande approvisionnement"  class="btn btn-lg btn-warning" ><em class="fa fa-trash"></em></A> </td>

					<td>
					<A href="#" class="btn"
						v-bind:class="{
								'btn-success btn-md btn-block' : 	elem.statut == 'S',
								'btn-info btn-md btn-block' : 		elem.statut == 'P',
								'btn-danger btn-md btn-block' : 	elem.statut == 'L',
								'btn-warning btn-md btn-block' : 	elem.statut == 'C',}" >
							<span v-if="elem.statut == 'L'" > show </span>
							<span v-if="elem.statut == 'C'"> print </span>
							<span v-if="elem.statut == 'P'"> export </span>
						</A>
					</td>
				</tr>
	</table>

</template>

</div>

{% endblock %}


{% block extra_js %}
<!-- VUEJS  -->
<script src="{% static 'vuejs/vue2.3.4.js' %}"></script>
<script src="{% static 'vuejs/app_appro.js' %}"></script>
<!-- VUEJS  -->

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Confirmation
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              Souhaitez-vous supprimer la Demande d'approvisionnment ?
            </slot>
          </div>
					<div class="modal-footer">
	 			 		<slot name="footer">
	 			 			<button class="modal-default-button" data-dismiss='modal' @click="$emit('close');"> Quitter </button>
	 			 			<button id="id_validation"  class="modal-default-button" @click.prevent="emitConfirmeDeleteDa(demande_appro_id); $emit('close');">
	 			 				<em class="fa fa-save"></em>Confirmez </button>
	 			 		</slot>
 			 		</div>

        </div>
      </div>
    </div>
  </transition>
</script>

<script type="text/javascript">
var cac_id = '{{ cac_id }}';
var demande_appro_id = '{{object_list.first.demande_appro}}';


$(document).ready(function(){
	// afficher popup form add comment
  $('#add_comment').on('show.bs.modal', function(e) {
		alert("ok ..." );
		$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });

	// confirme la suppression

	// afficher popup sans barre progress wait
  $('#confirm_delete' ).on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });


});
  </script>
{% endblock %}
