<!doctype html>
<html lang='fr'>
{% load i18n static staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="AS">
    <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
 <!-------------------->
		 <!-- FullCalendar  --->
		 <!-------------------->
		  <!------CSS------>
		  <link rel='stylesheet' href="{% static 'bootstrap/dist-3.3.5/css/bootstrap.css' %}"  media="screen" />
		  <link rel='stylesheet' href="{% static 'jquery/css/popup.css' %}"  >
		  <link rel='stylesheet' href="{% static 'jquery/css/jquery-ui.css' %}"  >
      <!-----bootstrap table----->
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css">

		  <!------JS---------->

      <script src="{% static 'fullcalendar/dist-v3.9.0/lib/jquery-3.3.1.min.js' %}" ></script>
      <script src="{% static 'js/popper.min.js' %}"></script>

		  <script src="{%  static 'fullcalendar/dist-v3.9.0/lib/jquery-ui-1.12.1.min.js' %}" ></script>
		  <script src="{% static 'bootstrap/dist-4.1.1/js/bootstrap.js' %}"></script>
		  <script src="{% static 'jquery/js/jquery.popup.js' %}"></script>
		  <script src="{% static 'bootstrap/dist-4.1.1/js/bootstrap.js' %}"></script>

		  <!-------------------->
		  <!-- FullCalendar  --->
		  <!-------------------->
		  <!------CSS------>

		 <!-- font-awesome -->
		 <!--<link rel="stylesheet" href="{% static 'schedue.css' %}" type="text/css" media="screen" />-->
		 <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" type="text/css">
		 <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
		 <!-- <link rel='stylesheet' href='{% static "fullcalendar/dist-2.4.0/fullcalendar.print.css" %}'   media='print' />  -->

 <!-- mon style -->
	  <link href="{% static 'agency.css'  %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="{% block body_id %}body{% endblock %}">


{% block head %}
<header class="navbar navbar navbar-fixed-top  bg-primary" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }} </a>{% endif %}
								{% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}

								<div class="navbar-header page-scroll">
								<img class="img-circle pull-left" src="/static/images/logosce.jpg" width='455' height='255' />
								<a class="navbar-brand" href="#">PULSAR Sce Planification OF </a>
								</div>

            </div>

            <div class="collapse navbar-collapse">
               <!-- page_menu "pages/menus/dropdown.html" -->
                           <!-- Collect the nav links, forms, and other content for toggling -->
								<ul class="nav navbar-nav navbar-right">
								<li class="hidden">	<a href="#page-top"></a></li>
                  	<li class="dropdown">
                      <a href='#' class="dropdown-toggle" data-toggle="dropdown">Administration<b class='caret'></b></a>
                      <ul class="dropdown-menu">
											    <li class='active'><a class="page-scroll" href="/admin">Console Admin</a></li>
							            <li><a class="page-scroll" href="/of/admin/home/">Dba outils</a> </li>
                      </ul>
                    </li>

									<li class="dropdown">
									<a href='#' class="dropdown-toggle" data-toggle="dropdown"> Mon compte <b class='caret'></b></a>
									<ul class="dropdown-menu">

									<li class='active'>
											{% if user.is_authenticated %}
												<a class="page-scroll" href="/accounts/logout"><b>Se déconnecter</b></a>
												{% else %}
													<li class='text-center-xs active'><a href="/accounts/login">Se connecter a Pulsar</a></li>
											{% endif %}
										</li>
									</ul>
									</li>

									<li>
									{% if user.is_authenticated %}
									<small class='text-center-xs'> Bonjour Mr(Mme) {{ user.last_name}} {{ user.first_name }} </small>
									{% endif %}
									</li>
							</ul>
            </div>

        </div>
</header><!--/header-->
{% endblock %}
<br><br>
<div class="container">

<hr><br>

  {% if messages %}
    <div class="messages">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
  {% endif %}

</div>

{% block top %}
<section class="emerald" id="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% block title %}{% endblock %}</h1>

                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        {% spaceless %}
							<!-- page_menu-->
						{% endspaceless %}
                    </ul>
                </div>
            </div>
        </div>
   </section>
{% endblock %}


    {% block left_panel %}

    {% endblock %}

<!--- bloc main --->
<div id="body" class="container-fluid">

	<div class="container-fluid">
    {% block body %}


    {% endblock %}
	</div>
</div>

<!--- bloc résultats --->
<section id="resultats" class="container-fluid">
	<div class="row">
    {% block resultats %}{% endblock %}
	</div>
</section>

<section class="wet-asphalt" id="services">
	<div class="container">
	{% block services %}{% endblock %}
	</div>
</section>

<footer id="footer" class="midnight-blue">
	<div class="container-fluid">
		{% block footer %}{% endblock %}

	 <div class="row">
		<div class="col-sm-6">
				Pulsar Sce theme by <a href="#">strandcosmeticseurope Developers</a>.
		</div>
		<div class="col-sm-6">
				<ul class="pull-right">

						<li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
				</ul>
		</div>

	 </div>
	</div>
</footer>
	{% block javascript %}{% endblock %}
</body>
</html>
