{% extends "base/themes/agency/startboot_agency_base.html" %}
{% load  static %}
{% load l10n %}

{% block header %}
{% endblock header %}

{% block extra_js %}
    <script>
        var vm = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: { 
                message : "Comparateur indicateurs clé de performance de qualté",
                ligne_data : [],
                url : "",
                filterKey : "",
                sortedKey : "societe",
                sortBy : "societe",
                currentSort : "societe",
                order : 1 ,
                entree : 0,
                isActive : true,
                errorMax:false,
                compteur:0,
            },
            //----
            created(){
                // `this` est une référence à l'instance de vm
                console.log('this is message: ' + this.message)
                this.load_data()
            },
            //---
            computed: {
                // resultat
                resultat(){
                    return this.entree * 1.20 * 12
                }, 
                // sinon 
                sorteddata(){
                    return this.ligne_data
                    /*
                    .filter(syndic => syndic.societe.includes(this.filterKey)).sort((a, b) =>  {
                        if(a[this.currentSort] < b[this.currentSort]) return -1 * this.order
                        if(a[this.currentSort] > b[this.currentSort]) return 1 * this.order
                        return 0
                    })
                    */
                }
            },
            methods: {
                // load ligne data candidats 
                load_data(){
                    let url = `/api/indicateur/`
                    // ajax load
                    fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        this.ligne_data = json;
                        console.log(" data ok ... = ", this.ligne_data )
                        })  
                    .catch(err => {
                        console.log("erreur fetch load_data", err)
                        })
                    //console.log("vous chercher ...!" + this.filterKey)
                },
                //-------
                //calcul sum points
                classObject(elem, ligne){
                    return {
                        "bg bg-success text-white-50 text-lg" :  
                        (elem==true && ligne.name=='propostion_recouverement')| 
                        (elem==true && ligne.name=='proposition_transition')| 
                        (elem==true && ligne.name=='reponse_questionnaire')| 
                        (elem==true && ligne.name=='contrat_engagement')| 
                        (elem==true && ligne.name=='gestionnaire_a_marrakech')|
                        (elem==true && ligne.name=='budget_prev_2024')|
                        (elem >= 5 && ligne.name=='anciennete')|
                        (elem >= 1 && ligne.name=='agent_suivi_sur_place')|
                        (elem >= 15 && ligne.name=='taille_entreprise')|
                        (elem==true && ligne.name=='budget_prev_2025')
                        ,
                        "bg bg-warning text-white-50 text-xl":
                                (elem==true  && ligne.name=='model_prestataires_ext')|
                                (elem==false && ligne.name=='agence_locale')|
                                (elem < 1 && ligne.name=='agent_suivi_sur_place')|
                                (elem > 0 && ligne.name=='avis_negatif'),
                        "bg bg-danger text-white-50 text-xl":
                                (elem==0 && ligne.name=='effectif_sur_place'),
                        "text-bold text-xl" : (elem==false),
                    } 
                },
                
            }// fin methodes
        });
        // Filters 
        Vue.filter('toCurrency', function (value) {
            if (typeof value !== "number") {
                return value;
            }
            else if (value == 0.0) {
                return ""
            }
            var formatter = new Intl.NumberFormat('fr-Fr', {
                style: 'currency',
                currency: 'MAD'
            });
            return formatter.format(value);
        });
        // mount
        vm.$mount('.app')
    </script>
{% endblock extra_js%}

{% block content %}

<hr>
<div class="container-fluid" id="app">
    
    <div class="row">
        <div class="col-11">
            <h3> [[ message ]] </h3>
            <h3 v-show=""> [[resultat]] </h3>
            <table class="table table-striped">
                <thead>
                    <tr> <th class="bg-light">items/Societe </th>
                    <th :class="[(column == 'THAIS')? 'bg-secondary text-danger':'bg-info']" 
                        v-for="column in ligne_data.columns"> [[column]] </th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="(ligne, index) in ligne_data.data" :key=index>
                        <td > [[ligne.name ]]  </td>
                        <td v-for="elem  in ligne.data"
                            class="text-info" :class="classObject(elem, ligne)"> 
                            <span v-if="elem==true">OUI</span>
                            <span v-else-if="elem > 0"> [[elem]] </span>
                            <span v-else> Non </span>
                        </td>
                    </tr>
                    
                </tbody>
            </table> 
        </div>
        <div class="col-1">
            <img src="/media/upload/prestigia_001.jpg" width="70%" />
            <div> 
                <span class="bg-success">Positif </span>
                <span class="bg-warning">Inconvenient </span>
                <span class="bg-danger">Négatif</span>
            </div>
        </div>
    </div>
</div>
 
{% endblock content %}
