{% extends "base/themes/agency/startboot_agency_base.html" %}
{% load  static %}
{% load l10n %}

{% block header %}
{% endblock header %}

{% block extra_js %}
    <script>
        var vm = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: { 
                message : "Compararateu de budget ",
                ligne_data : [],
                url : "",
                filterKey : "",
                sortedKey : "societe",
                sortBy : "societe",
                currentSort : "societe",
                order : 1 ,
                entree : 0,
                isActive : true,
                errorMax:false
            },
            //----
            created(){
                // `this` est une référence à l'instance de vm
                console.log('this is message: ' + this.message)
                this.load_data()
            },
            //---
            computed: {
                // resultat
                resultat(){
                    return this.entree * 1.20 * 12
                }, 
                // sinon 
                sorteddata(){
                    return this.ligne_data
                    /*
                    .filter(syndic => syndic.societe.includes(this.filterKey)).sort((a, b) =>  {
                        if(a[this.currentSort] < b[this.currentSort]) return -1 * this.order
                        if(a[this.currentSort] > b[this.currentSort]) return 1 * this.order
                        return 0
                    })
                    */
                }
            },
            methods: {
                load_data(){
                    let url = `/api/pivote/`
                    // ajax load
                    fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        this.ligne_data = json;
                        console.log(" data ok ... = ", this.ligne_data )
                        })  
                    .catch(err => {
                        console.log("erreur fetch load_data", err)
                        })
                    //console.log("vous chercher ...!" + this.filterKey)
                },
                //-------
                classObject(elem, ligne){
                    return {
                    'text-danger' : (elem > 3000000 && ligne.name=='budget_global')  |
                    (elem > 500000 && ligne.name=='budget_jardinage') |
                    (elem > 400000 && ligne.name=='remuneration') |
                    (elem > 700000 && ligne.name=='budget_securite' ) |
                    (elem > 200000 && ligne.name=='budget_menage' ) |
                    (elem > 300000 && ligne.name=='budget_picine' ) |
                    (elem > 140000 && ligne.name=='budget_maintenance' )| 
                    (elem > 180000 && ligne.name=='consommation_eau' )|
                    (elem > 300000 && ligne.name=='consommation_electricite' ) 
                    //'text-danger': this.error && this.error.type === 'fatal'
                    } 
                },
            }
        });
        // Filters 
        Vue.filter('toCurrency', function (value) {
            if (typeof value !== "number") {
                return value;
            }
            else if (value == 0.0) {
                return ""
            }
            var formatter = new Intl.NumberFormat('fr-Fr', {
                style: 'currency',
                currency: 'MAD'
            });
            return formatter.format(value);
        });
        // mount
        vm.$mount('.app')
    </script>
{% endblock extra_js%}

{% block content %}

<hr>
<div class="container row" id="app">
    <div class="col-10">
        <h3> [[ message ]] </h3>
        <h3 v-show=""> [[resultat]] </h3>
        <form class="d-flex" action="/admin/" method="post" @submit.prevent="">
                {% csrf_token %}
            <input v-show=""  class="form-control me-2" v-model="entree" type="text" placeholder="saisie un montant" >
            <input class="form-control me-2" v-model="filterKey" type="text" placeholder="saisie un mot de recherche" >
            <input class="btn btn-outline-success" type="submit" value="Rechercher" />
        </form>
        <hr/>

        <table class="table table-striped">
            <thead>
                <tr> <th>items/Societe </th>
                <th :class="[(column == 'THAIS')? 'text-danger':'']" 
                    v-for="column in ligne_data.columns"> [[column]] </th>
                 </tr>
            </thead>
            <tbody>

                <tr v-for="(ligne, index) in ligne_data.data" :key=index>
                    <td > [[ligne.name]]  </td>
                    <td v-for="elem  in ligne.data"
                    :class="classObject(elem, ligne)"                    
                    > [[ elem | toCurrency ]] </td>

                </tr>
                
            </tbody>
        </table> 
    </div>
    <div class="col-2">
        <img src="/media/upload/prestigia_001.jpg" width="70%" />
    </div>
</div>
 
{% endblock content %}
