{% extends "base/themes/agency/startboot_agency_base.html" %}
{% load  static %}
{% load l10n %}

{% block header %}
{% endblock header %}

{% block extra_js %}
    <script>
        var vm = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: { 
                message : "OK on est sous vue.js",
                documents : [],
                url : "",
                filterKey : "",
                sortedKey : "name",
                sortBy : "nom",
                currentSort : "nom",
                order : -1 ,
            },
            //----
            created(){
                // `this` est une référence à l'instance de vm
                console.log('this is message: ' + this.message)
                this.load_docs()
            },
            //---
            computed: {
                // sinon 
                sortedDocuments(){
                    return this.documents.filter(doc => doc.piece_name.includes(this.filterKey)).sort((a, b) =>  {
                        if(a[this.currentSort] < b[this.currentSort]) return -1 * this.order
                        if(a[this.currentSort] > b[this.currentSort]) return 1 * this.order
                        return 0
                    })
                }
            },
            methods: {
                load_docs(){
                    let url = `/api/doc/`
                    // ajax load
                    fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        this.documents = json;
                        console.log(" data ok = " + this.documents[0].name )
                        })  
                    .catch(err => {
                        console.log("erreur fetch load_docs", err)
                        })
                    //console.log("vous chercher ...!" + this.filterKey)
                },
                //-------
                chercher_doc(event){
                    let url = `/doc/`
                    // ajax load
                    fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        this.documents = json;
                        console.log(" data = " + this.documents )
                        })  
                    .catch(err => {
                        console.log("erreur fetch", err.msg);
                        }
                        )
                    //console.log("vous chercher ...!" + this.filterKey)
                },
            }
        });
        // mount
        vm.$mount('.app')
    </script>
{% endblock extra_js%}

{% block content %}

<hr>
<div class="container row" id="app">
    <div class="col-10">
        <h3> [[ message ]] </h3>
        <form class="d-flex" action="/admin/" method="post" @submit.prevent="">
                {% csrf_token %}
            <input class="form-control me-2" v-model="filterKey" type="text" placeholder="saisie un mot de recherche" >
            <input class="btn btn-outline-success" type="submit" value="Rechercher" />
        </form>
        <hr/>

        <table class="table table-striped">
            <thead>
                <tr> <th>Titre</th> <th>voir Document </th> <th>Created </th> </tr>
            </thead>
            <tbody v-if="sortedDocuments">
                <tr v-for="(doc, index) in sortedDocuments" :key=index>
                    <td scope="row"> [[ doc.piece_name ]] </td>
                    <td>
                        <a :href="doc.piece_path"  target='_blanc'>
                            [[ doc.piece_name ]] 
                        </a>  
                    </td>
                    <td> [[ doc.init_date_created ]] </td>
                </tr>
                
            </tbody>
        </table> 
    </div>
    <div class="col-2">
        <img src="/media/upload/prestigia_001.jpg" width="50%" />
    </div>
</div>
 
{% endblock content %}
